* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 60px;
}

td {
    background-color: lightgray;
}