* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    background-color: #222;
    color: white;
}

/* header */

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#currentPlayer {
    font-size: 20px;
}

/* tic tac to board */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

div {
    background-color: black;
    border: 15px solid black;
    display: flex;
    gap: 20px;
}

span {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    color: red;
    font-size:125px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 700px) {
    span {
        width: 100px;
        height: 100px;
    }

    div {
        gap: 10px;
        border: 5px solid black;
    }    
}

@media (max-width: 450px){
    nav {
        flex-direction: column;
        align-items: center;
    }

    button {
        max-width: min-content;
    }

    main {
        margin-top: 10px;
    }

    #currentPlayer {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }
}